/* COMMON */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* BODY */

body{
    background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}


.container{
    height: 100vh;
    width: 75%;
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
}

.left_side{
    height: 100%;
    width: 40%;
    background-color: #ffffff;
    min-width: 420px;
    border-right: 1px solid lightgrey;
    overflow: hidden;
}


.right_side{
    height: 100%;
    width: 60%;
}

/* NAV BAR */

.header_nav,
.sms_bar{
    min-height: 70px;
    width: 100%;
    background-color: #eaeaea;
}

.header_nav{
    display: flex;
    justify-content: space-between;
}

.header_nav .left{
    display: flex;
    align-items: center;
}

.avatar_header{
    height: 70px;
    width: 70px;
    margin-left: 15px;
}

.avatar_header img{
    height: 100%;
    padding: 10px;
    border-radius: 50%;
}

.header_nav .right{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.header_nav .right i{
    padding: 8px;
    font-size: 20px;
    color: #b1b1b1;
}


/* SEZIONE COLONNA DI SINISTRA */


/* NOTIFICHE */
.notifications{
    height: 90px;
    min-height: 80px;
    width: 100%;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

.notifications .bell_container{
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #f2fbff;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 10px;
}

.bell_container i{
    color: #8edafc;
    font-size: 20px
}

.text_notification p{
    font-weight: 600;
}



.text_notification a{
    font-size: 16px;
    color: #4f7485;
}

/* BARRA DI RICERCA */
.search_box{
    margin: 5px;
    border: 1px solid rgba(211, 211, 211, 0.3);
    background-color: #fafafa;
}
.search_bar{
    background-color: white;
    display: flex;
}

.search_bar i{
    font-size: 16px;
    padding: 10px 15px;
    color: #b6b9bb;
}

.search_bar input{
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid lightgray;
    opacity: 0.3;
}


/* CONTATTI */

.contacts_container{
    overflow-y: scroll;
    height: calc(100% - 210px);
}

.contacts{
    height: 100px;
    border-top: 1px solid rgba(211, 211, 211, 0.3);
    border-bottom: 1px solid rgba(211, 211, 211, 0.3);
    display: flex;

}

.avatar{
    height: 100px;
    width: 100px;
    margin-left: 15px;
}

.avatar img{
    height: 100%;
    padding: 10px;
    border-radius: 50%;
}

.contacts h1{
    padding: 10px;
}




/* SEZIONE COLONNA DI DESTRA */


.right_side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.box_sms{
    height: calc(100% - 140px);
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;

}

.sms_bar{
    background-color: #f3eeea;
    text-align: center;
    line-height: 90px;
}

.sms_bar input{
    width: 80%;
    padding: 10px;
    border: 1px solid lightgray;
    opacity: 0.3;
    border-radius: 5px;
    margin: 10px;
}

.sms_bar i{
    font-size: 20px;
    margin: 10px;
    color: grey;
}



/* BOX INVIO E RICEZIONE MESSAGGI */
